@font-face {
	font-family: 'Bankir-Retro';
	src: url('../fonts/Bankir-Retro/Bankir-Retro.eot');
	src: local('☺'), url('../fonts/Bankir-Retro/Bankir-Retro.woff') format('woff'), url('../fonts/Bankir-Retro/Bankir-Retro.ttf') format('truetype'), url('../fonts/Bankir-Retro/Bankir-Retro.svg') format('svg');
	font-weight: 400;
	font-style: normal;
}

@font-face {
	font-family: 'BankGothicMdBT';
	src: url('../fonts/BankGothicMdBT/BankGothicMdBT.eot');
	src: local('☺'), url('../fonts/BankGothicMdBT/BankGothicMdBT.woff') format('woff'), url('../fonts/BankGothicMdBT/BankGothicMdBT.ttf') format('truetype'), url('../fonts/BankGothicMdBT/BankGothicMdBT.svg') format('svg');
	font-weight: 400;
	font-style: normal;
}

@font-face {
	font-family: 'Montserrat';
	src: url('../fonts/Montserrat/Montserrat-Medium.eot');
	src: local('☺'), url('../fonts/Montserrat/Montserrat-Medium.woff') format('woff'), url('../fonts/Montserrat/Montserrat-Medium.ttf') format('truetype'), url('../fonts/Montserrat/Montserrat-Medium.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: 'Montserrat';
	src: url('../fonts/Montserrat/Montserrat-Bold.eot');
	src: local('☺'), url('../fonts/Montserrat/Montserrat-Bold.woff') format('woff'), url('../fonts/Montserrat/Montserrat-Bold.ttf') format('truetype'), url('../fonts/Montserrat/Montserrat-Bold.svg') format('svg');
	font-weight: 700;
	font-style: normal;
}

